continut/persoane.dtd

<!ELEMENT persoane (persoana+)>
<!ELEMENT persoana (nume, prenume, varsta, telefon, adresa, studii)>
<!ATTLIST persoana id CDATA #REQUIRED>
<!ELEMENT nume (#PCDATA)>
<!ELEMENT prenume (#PCDATA)>
<!ELEMENT varsta (#PCDATA)>
<!ELEMENT telefon (#PCDATA)>
<!ELEMENT adresa (strada, nr, oras)>
<!ELEMENT strada (#PCDATA)>
<!ELEMENT nr (#PCDATA)>
<!ELEMENT oras (#PCDATA)>
<!ELEMENT studii (institutie, adresa)>
<!ELEMENT institutie (#PCDATA)>